$colorPrincipal:coral;
$colorSecundario: chocolate;
$colorTexto: goldenrod;
$colorFondo: black;
$colorBorde:darkorange;
$colorBackground: rgb(226, 104, 43);
$colorBordeHover: rgb(163, 75, 32);
$colorBackgroundHover: rgb(116, 49, 16);

